/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
	background: -moz-linear-gradient(center left , #C0C1C2, #FFFFFF) no-repeat fixed 0 0 transparent;/*for firefox*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0C1C2', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-linear-gradient(left, #C0C1C2, #FFFFFF); /* for webkit browsers */
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.container{
	padding: 20px 40px;
	margin: 0 auto;
	width:75%;
	background-color: #F9F9F9;
	margin-top:40px;
	border:solid 1px #E0EDFF;
	-moz-box-shadow: 0 0 5px #1E325A;
	-webkit-box-shadow: 0 0 5px #1E325A;
	box-shadow: 0 0 5px #1E325A;
	height:100%;
}

table {	
	border-collapse: collapse;
	border-spacing: 0;
}

#search_result{
	float:left;
	font-size:15px;
	margin:0;
}

#notice {
    background-color: #BDF0D6;
    border-radius: 5px 5px 5px 5px;
    color: #147A25;
    font-size: 15px;
    height: 22px;
    left: 500px;
    padding: 4px;
    position: absolute;
    text-align: center;
    top: 88px;
    vertical-align: middle;
    width: 354px;
}