<%= form_tag({:action=>"sendmail"}, :id=>"email_form") do %>
	<% session[:return_to] = request.url  %>
	<div class="field">
		<%= label_tag "Email:"  %>
		<%= text_field_tag :email, params[:email] %>
	</div>
	
	<div class="actions">
		<%= submit_tag "Send", :name=>nil %>
	</div>
<% end %>